<ion-col size="12" *ngIf="anime_details.opening_themes.length > 0">
    <div class="section-container">
        <h5 class="section-title">Opening Themes</h5>
        <div class="section-description">
           <ion-list>
             <ion-item text-wrap text-center *ngFor="let op of anime_details.opening_themes">
               {{op}}
             </ion-item>
           </ion-list>
          </div>
    </div>
</ion-col>
<ion-col size="12" *ngIf="anime_details.ending_themes.length > 0">
    <div class="section-container">
        <h5 class="section-title">Ending Themes</h5>
        <div class="section-description">
           <ion-list>
             <ion-item text-wrap text-center *ngFor="let ed of anime_details.ending_themes">
               {{ed}}
             </ion-item>
           </ion-list>
        </div>
    </div>
</ion-col>