.popover-md .popover-content {
    top: 57px !important;
    left: unset !important;
    right: 0 !important;
    transform-origin: right top !important;
}
.popover-ios .popover-content {
    top: 44px !important;
    left: unset !important;
    right: 0 !important;
    transform-origin: right top !important;
}
.toolbar-title-ios {
    margin-top: 9px;
} 
.list-md, .list-ios {
    margin: 0;
}