<ion-list>
  <div class="ion-activatable relative" *ngFor="let staff of animedetails.staff">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-item>
          <ion-avatar slot="start">
            <img [src]="staff.image_url">
          </ion-avatar>
          <ion-label>
            <h2>{{staff.name}}</h2>
            <h3>
              <span *ngFor="let position of staff.positions">
                {{position}}
              </span>
            </h3>
          </ion-label>
        </ion-item>
  </div>
</ion-list>
<ion-col size="12" [hidden]="animedetails.staff">
  <div text-center>
      <ion-spinner name="lines" color="secondary"></ion-spinner>
  </div>
</ion-col>