<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Summer 2019</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg">
  <ion-grid fixed>
    <ion-row>
      <ion-col col-6 *ngFor="let anime of anime_list">
        <ion-card class="home-card">
          <img [src]="anime.image_url"/>
          <h5 class="type">{{anime.type}}</h5>
          <h5 class="score">{{anime.score || '0'}}</h5>
          <h3>{{anime.title}}
            <span *ngFor="let producer of anime.producers">{{producer.name}}</span>
          </h3>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
