@mixin font-style {
    font-family: 'Roboto Mono', monospace;
}
@mixin title {
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: bold;
}

.anime-image {
    display: flex;
    justify-content: center;
    img {
        background-color: var(--ion-color-primary);
        padding: .2rem;
        border-radius: .3rem;
        box-shadow: 2px 2px 2px rgba(0,0,0,.2);
        width: 50%;
    }
}

.text-container {
    @include font-style;
    text-align: center;

    .title {
        @include title;
    }
}