<ion-header translucent>
  <ion-toolbar>
    <ion-title>Anime Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <div class="text-container">
            <h4 class="title">{{anime_details.title}}</h4>
          </div>
        </ion-col>
        <ion-col class="anime-image" size="12">
          <img [src]="anime_details.image_url"/>
        </ion-col>
        <ion-col size="12">
            <ion-segment (ionChange)="segmentChanged($event)" scrollable="true">
                <ion-segment-button checked="true" value="Information">
                  <ion-label>Information</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Statistics">
                  <ion-label>Statistics</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Trailer">
                  <ion-label>Trailer</ion-label>
                </ion-segment-button>
                <ion-segment-button value="CVA">
                  <ion-label>Characters & Voice Actors</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Staff">
                  <ion-label>Staff</ion-label>
                </ion-segment-button>
                <ion-segment-button value="OPED">
                  <ion-label>Opening and Ending Theme</ion-label>
                </ion-segment-button>
              </ion-segment>
        </ion-col>
        <app-information [animedetails]="anime_details_input"></app-information>
        <ion-col size="12">
            <ion-button expand="block" fill="outline" (click)="viewOnMal(anime_details.url)">
              View on MAL
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

