<ion-col size="12" *ngFor="let key of related_anime_keys; let i = index">
  <div class="section-container">
      <h5 class="section-title">{{key}}</h5>
      <p class="section-description">
        <ion-list>
          <ion-item *ngFor="let related of animedetails.related[key]">
            <div class="ion-activatable">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-label text-wrap text-center>
              <h2>{{related.name}}</h2>
              <h4>{{related.type}}</h4>
            </ion-label>
            </div>
          </ion-item>
        </ion-list>
      </p>
  </div>
</ion-col>