<ion-col size="12">
  <div class="section-container">
    <h5 class="section-title">Score</h5>
    <p class="section-description">
      {{anime_details.score}} (scored by {{anime_details.scored_by}} users)
    </p>
</div>
</ion-col>
<ion-col size="12">
  <div class="section-container">
    <h5 class="section-title">Ranked</h5>
    <p class="section-description">
      #{{anime_details.rank}}
    </p>
  </div>
</ion-col>
<ion-col size="12">
  <div class="section-container">
    <h5 class="section-title">Popularity</h5>
    <p class="section-description">
      #{{anime_details.popularity}}
    </p>
  </div>
</ion-col>
<ion-col size="12">
  <div class="section-container">
    <h5 class="section-title">Members</h5>
    <p class="section-description">
      #{{anime_details.members}}
    </p>
  </div>
</ion-col>
<ion-col size="12">
  <div class="section-container">
    <h5 class="section-title">Favorites</h5>
    <p class="section-description">
      #{{anime_details.favorites}}
    </p>
  </div>
</ion-col>